/* App style */

.App {
    color: #222;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #fff344;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.App-main-container {
    margin: 20px auto;
    width: 360px;
}

.main-section {
    position: relative;
}

.status-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.back-icon button {
    display: block;
    font-size: 20px;
    border: transparent;
    background-color: transparent;
    color: #0084da;
}


.main-section .return-icon {
    width: 100px;
    position: absolute;
    top: -30px;
    left: -10px;
}

.question-card {
    font-family: "Lato", sans-serif;
    padding: 10px 0;
}

.image-container {
    margin-top: 20px;
}

.image-container img {
    width: 100%;
}

.question-card h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
}

div button {
    cursor: pointer;
}

.answers ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answers li {
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 3px;
    min-height: 60px;
    width: 360px;
    display: flex;
    margin-bottom: 30px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.answers li:last-child {
    margin-bottom: 10px;
}

.answers li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.answers li span {
    background-color: #0084da;
    color: #fff;
    font-size: 30px;
    flex: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.answers li p {
    color: inherit;
    font-size: 16px;
    font-weight: 600;
    flex: calc(100% - 75px);
    margin: auto 20px;
    transition: color 0.3s ease;
}

.analysis-card {
    font-family: "Lato", sans-serif;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #eee;
    padding: 10px;
}

.analysis-card h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

.analysis-card p {
    /* font-family: 'Open Sans', sans-serif; */
    color: #0b0e21;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 80px;
}

.analysis-card p span {
    background-color: #0084da;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    padding: 0 12px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    border-radius: 50%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    margin-top: 50px;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 700;
}

.progress-control {
    min-height: 60px;
    width: 360px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-gap: 12px;
    margin-bottom: 30px;
}

.progress-control div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-control div button {
    font-size: 16px;
    padding: 8px 6px;
    background-color: transparent;
    border: none;
    /* color: orange; */
}

.list-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-container li {
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 3px;
    height: 80px;
    width: 360px;
    display: flex;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.marks {
    height: 40px;
    margin: 0;
    display: grid;
    grid-template-columns: 20px 60px 120px 60px;
    grid-gap: 10px;
}

.marks div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    margin: 0;
}

.description p {
    margin-left: 40px;
    font-size: 14px;
    font-family: "Lato";
}

.style-area {
    color: white;
    font-size: "12px";
    font-weight: 700;
    border-radius: 3px;
    border: 2px solid white;
    padding: 6px 10px;
}

.grey {
    background-color: #666;
}

.blue {
    background-color: rgb(48, 141, 196);
}

.right {
    background-color: rgb(77, 202, 46);
}

.wrong {
    background-color: rgb(206, 63, 37);
}

/*  Landing page */

.landing {
    height: 100vh;
    position: relative;
    font-family: "Ubuntu", sans-serif;
}

.landing-header {
    background-color: #fff344;
    min-height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: 50px;
}

.landing-main-section {
    position: relative;
}

.hero {
    width: 360px;
    height: 200px;
    background-color: #0084da;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.button-section {
    width: 360px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.button-section h2 {
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.button-section h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 40%;
    padding-top: 10px;
    border-bottom: 4px solid #fff344;
}

.button-section p {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 200;
    text-align: start;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #666;
}

.landing-button {
    width: 100%;
    border-radius: 50px;
    height: 60px;
    background-color: white;
    border: 1px solid #0084da;
    color: #0084da;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.5s;
    display: block;
    margin-bottom: 20px;
}

.landing-button:hover {
    background-color: #0084da;
    color: white;
    border: 1px solid transparent;
}

.hero-logo {
    height: 80px;
    width: 100%;
}

.hero-logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
}

.hero-text-box {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    margin-top: 20px;
    animation: moveInRight 1.5s ease-out;
}

.hero-text-box p {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
    margin-top: 20px;
    padding-left: 10px;
    text-align: center;
    animation: moveInLeft 1.5s ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/*  Categories page */

.categories {
    height: 100vh;
    position: relative;
    font-family: "Ubuntu", sans-serif;
}

.categoreis-background {
    width: 360px;
    height: 440px;
    background-image: url("./categories-blue@3x.png");
    background-size: cover;
    background-position: center;
    margin: 40px auto;
}

.categories-main-section {
    position: relative;
    width: 360px;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.return-icon {
    width: 100px;
    position: absolute;
    top: -20px;
    left: 0px;
}

.return-icon button {
    display: block;
    padding: 6px 12px;
    font-size: 20px;
    border: transparent;
    background-color: transparent;
    color: #0084da;
}

.categories-textbox {
    width: 360px;
    margin: 40px auto 20px auto;
    text-align: center;
}

.textbox h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 5px;
    border-bottom: 2px solid #fff344;
}

.textbox p {
    margin: 10px;
    font-size: 12px;
}

.textbox-exam {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #eee;
    margin-top: 20px;
}

.textbox-exam p:first-child {
    color: rgb(209, 93, 209);
}


.navigation {
    width: 360px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.navigation__list {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 280px;
    padding: 0;
}

.navigation__item {
    margin-bottom: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    border-radius: 5px;
    padding: 1rem 2rem;
    width: 100%;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    transition: all 0.4s;
    margin: 0;
}

.navigation__link span {
    margin-right: 1.5rem;
    display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    color: #0084da;
    transform: translateX(1rem);
}

/*  Chapters page */

.chapters {
    height: 100vh;
    position: relative;
    font-family: "Ubuntu", sans-serif;
}

.chapter-main-section {
    position: relative;
    width: 360px;
    margin: 0 auto;
}

.chapter-main-section .return-icon {
    width: 100px;
    position: absolute;
    top: -40px;
    left: 0px;
}

.cate-imagebox {
    width: 60px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chapter-section {
    width: 360px;
    margin: 60px auto;
    border-radius: 10px;
    background-color: #0084da;
    padding: 40px 0;
}

.return-icon button {
    cursor: pointer;
}

/* media query for ipad */

@media only screen and (min-width: 768px) {

    /* landing page */
    .landing-main-section {
        position: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .hero {
        height: 360px;
        background-color: #0084da;
        z-index: 0;
        position: inherit;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        border-radius: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    }

    .button-section {
        margin-top: 0;
    }

    .button-section p {
        font-size: 18px;
    }

    .hero-text-box {
        width: 80%;
    }

    .hero-text-box p {
        font-size: 18px;
    }

    /* categories page */
    .categories-main-section {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categoreis-background {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    }

    .return-icon {
        top: 0px;
        left: 30px;
    }

    .textbox {
        margin-bottom: 20px;
    }

    .textbox p {
        font-size: 20px;
    }

    /* chapters page */
    .chapter-main-section {
        width: 720px;
    }

    .chapter-section {
        width: 100%;
    }

    /* main page */

    .App-main-container {
        margin: 20px auto;
        width: 720px;
    }

    .main-section .return-icon {
        top: 0px;
    }

    .image-container {
        width: 60%;
        margin: 0 auto;
    }

    .answers ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .answers li {
        min-height: 90px;
        width: 348px;
    }

    .answers li:last-child {
        margin-bottom: 30px;
    }

    .progress-control {
        margin: 0 auto 30px auto;
    }

    .list-container button {
        margin-left: 72px;
    }

    .list-container li {
        width: 80%;
        margin: 0 auto;
    }

    .link-control {
        margin-left: 72px;
    }

}

/* media query for laptop */

@media only screen and (min-width: 1200px) {

    /* landing page */
    .hero {
        width: 540px;
    }

    .button-section {
        margin-right: 180px;
    }

    /* categories page */
    .categories-main-section {
        position: relative;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .return-icon {
        top: 0px;
        left: 100px;
    }

    .textbox {
        margin-bottom: 20px;
    }

    .textbox p {
        font-size: 20px;
    }

    /* chapters page */
    .chapter-main-section {
        width: 720px;
    }

    .chapter-section {
        width: 100%;
    }

    /* main page */

    .App-main-container {
        margin: 20px auto;
        width: 720px;
    }

    .main-section .return-icon {
        top: 0px;
    }

    .image-container {
        width: 60%;
        margin: 0 auto;
    }

    .answers ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .answers li {
        min-height: 90px;
        width: 348px;
    }

    .answers li:last-child {
        margin-bottom: 30px;
    }

    .progress-control {
        margin: 0 auto 30px auto;
    }

    .list-container button {
        margin-left: 72px;
    }

    .list-container li {
        width: 80%;
        margin: 0 auto;
    }

    .link-control {
        margin-left: 72px;
    }

}